$hex_1: #282A35;
$hex_2: #EFEFFA;
$hex_3: #99ffff;
$hex_4: #2196F3;
$hex_5: #e0e0e0;
$hex_6: #6b7280;
$hex_7: #07074d;
$hex_8: #6E34F4;
$hex_9: #0e0e7c;

$primary_1: hsl(210, 36%, 96%);

$grey_1: rgba(0, 0, 0, .1);
$grey_2: rgba(0, 0, 0, .2);