@import "color.scss";
@import "font.scss";
@import "utils.scss";
@import "main.scss";
@import "btn.scss";
@import "input.scss";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: $font_2;
    font-size: 14px;
}

#login {
    padding: 20px;
    background-color: #ECEFF1;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 20px rgb(0 0 0 / 4%);

    #login_wrapper {
        width: 400px;
        margin: 0.5rem auto;
        padding: 30px 0;

        background-color: white;
        border: 1px solid #eeeeee;
        border-radius: 3px;
    }

    #login_form {
        max-width: 350px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
    }
}

.pass-wrap {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 30px;
}
  
.pass-img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}






.loader {
	--color: black;
	--size-mid: 6vmin;
	--size-dot: 1.5vmin;
	--size-bar: 0.4vmin;
	--size-square: 3vmin;
	
	display: block;
	position: relative;
	display: grid;
	place-items: center;
}
.loader::before,
.loader::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
}
.loader.--4::before {
	height: var(--size-bar);
	width: 100%;
	background-color: var(--color);
	animation: loader-4 1s cubic-bezier(0, 0, 0.03, 0.9) infinite;
}
@keyframes loader-4 {
	0%, 44%, 88.1%, 100% {
		transform-origin: left;
	}
	
	0%, 100%, 88% {
		transform: scaleX(0);
	}
	
	44.1%, 88% {
		transform-origin: right;
	}
	
	33%, 44% {
		transform: scaleX(1);
	}
}
  





